<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static\css.css" href="img" rel='stylesheet' type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    
    <title>rffirst</title>
</head>
<style>
    body {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
</style>
<body>
    <div>
        <div id="header">
            <h1>
                <a href='/' id='atop'><span style="color: rgb(59, 88, 68);">Rurff:</span></a>
                <a href='/' id='atop' style="float: right;">irst</a>
            </h1>
        </div>
    </div>
    <div class="v_div">
        <div id="screen" style="top: auto; height: auto; overflow: visible; display: block; position: relative;">
            <div id="wrapper" style="top: 0px;"><div id="content">
                <div id="div_1">
                    <img id="comp-k2qmlxmwbalatamediaimageimage" style="width: 101%; height: 812px; object-fit: cover;" alt="" src="https://static.wixstatic.com/media/d4c825_228da00e8d634adf85b3f8343f6a6daf~mv2.jpg/v1/fill/w_1202,h_812,al_c,q_85,usm_0.66_1.00_0.01/d4c825_228da00e8d634adf85b3f8343f6a6daf~mv2.webp" data-type="image" itemprop="image">
                    <span>asdasdasd</span>
                </div>
            </div>
        </div>
    </div>
    <div id="div1">
       
    </div>
</body>
</html>